<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <form action="/profile/profileAdd" method="POST">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Your name.."><br><br>
          <label for="bio">bio</label>
          <input type="text" id="bio" name="bio" placeholder="Your Bio"><br><br>
          <label for="gender">Gender</label>
          <input type="text" id="gender" name="gender" placeholder="Your gender"><br><br>
           
          <input type="submit" value="Submit">
      
        </form>
      </div>
</body>
</html>